<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/jmalenfant/principal/Tests/Semaphore/"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="semaphore"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="fr.sorbonne_u.components.ext.sync.examples.semaphore.DistributedCVM"/>
    <jvm2hostname jvmuri="client1"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="fr.sorbonne_u.components.ext.sync.examples.semaphore.DistributedCVM"/>
    <jvm2hostname jvmuri="client2"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="fr.sorbonne_u.components.ext.sync.examples.semaphore.DistributedCVM"/>
  </jvms2hostnames>
</deployment>
