<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/vepa/Desktop/Projet_CPS_Diline/Dilline2_0"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="jvm1"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="src.cvm.DistributedCVM"/>
    <jvm2hostname jvmuri="jvm2"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="src.cvm.DistributedCVM"/>
    <jvm2hostname jvmuri="jvm3"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="src.cvm.DistributedCVM"/>
  </jvms2hostnames>
</deployment>
